nav
    div#brand test
    div
        a(href="/") Accueil
        //- a(href="/alt") alt
        a(href="/linux") Linux
        a(href="/cpu") CPU
        a(href="/distro") Distribution
        a(href="/cats") chats
